.header {
    height: 52px;
    background-color: black;
    display: flex;
}

.ontario-logo {
    flex-basis: 50%;
    display: flex;
}

.ontario-logo-image {
    width: 100px;
    height: 27px;
    margin-top: 10px;
    margin-left: 25px;
}

.header-button-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header-button {
    height: 35px;
}