/* File used in the summarize feature */

.upload-container {
    /* padding-left: 50px;
    padding-top: 10px; */
    width: 100vw;
    height: 555px;
    display: flex;
    justify-content: center;
}

.upload {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.upload-text {
    margin-bottom: 15px;
}

.file-input {
    margin-bottom: 15px;
}

.MuiButtonBase-root {
    width: 100px;
}

.buttons {
    display: flex;
}

.input-instructions {
    width: 600px;
    margin-top: 30px;
}

.input-container {
    margin-top: 30px;
}

.summarize-button-container {
    margin-top: 30px;
}

.response-container {
    width: 600px;
    margin-top: 10px;
}