.userinfo-container {
    height: 480px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.name-container {
    text-align: center;
}

.prompt-container {
    text-align: center;
}

.prompt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prompt-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Adjusting display of UserPrompt Component for monitors */
@media only screen and (min-width:1300px) {
    div.userinfo-container {
        height: 825px;
        width: 1400px;
    }

    div.prompt-container {
        margin-top: 30px;
    }

    div.prompt-options-container {
        height: 875px;
        padding-bottom: 300px;
    }
    
  }


